.DS_Store

.vscode/
datecheck22.sh
.git-backup

test*

*.zip

assignment2/mathserver/objects/

assignment2/mathserver/server

assignment2/mathserver/client

assignment2/mathserver/matinv

assignment2/mathserver/

assignment2/mathserver/matrix_result.txt

assignment2/mathserver/kmeans
assignment2/mathserver/kmeans-results.txt
assignment2/matinv
