.DS_Store

.vscode/
.git-backup
datecheck22.sh
*.zip

assignment1/test/*

assignment2/matinv
assignment2/matrix_result.txt

assignment2/mathserver/objects/*
assignment2/mathserver/server
assignment2/mathserver/client
assignment2/mathserver/matinv
assignment2/mathserver/kmeans
assignment2/mathserver/kmeans-results.txt
assignment2/mathserver/matrix_result.txt
assignment2/mathserver/results.txt
assignment2/mathserver/computed_results/*
assignment2/mathserver/kmeanspar
assignment2/mathserver/matinvpar

assignment3/lexyacc-code/*.exe
assignment3/lexyacc-code/*.o
assignment3/lexyacc-code/*.tab.h
assignment3/lexyacc-code/*.yy.c
assignment3/lexyacc-code/*.tab.c
assignment3/lexyacc-code/output*.txt
assignment3/lexyacc-code/tes*.s
assignment3/lib/*
assignment3/bin/*
assignment3/objects/*
